<div class = "right_sidebar">
  <h4 class="right_header">Friends</h4>
  <div class="right_container">
    <% if params[:id].to_i == @current_user.id %>
      <% if @current_user.friends.empty? %>
        <p>You don't have any friends yet! Find some friends and add them here!</p>
      <% else %>
        <% @current_user.friends.each do |friend| %>
          <p class="event_member"><%= link_to friend.username, user_path(friend) %></p>
        <% end %>
      <% end %>
    <% else %>
      <% if @current_user.friendships.find_by(friend_id: @user.id) %>
        <p>You're friends with <%=@user.first_name%>!</p>
        <p class="unfriend"><%=link_to "Unfriend?", friendship_path(@user), :method => :delete%></p>
      <% else %>
        <%=link_to "Friend #{@user.username}", friendships_path(:friend_id => params[:id]), :method => :post %>
      <% end %>
    <%end%>
  </div>
</div>
</div>
