* {
  box-sizing: border-box;
}
body {
  background-color: rgb(1, 102, 167);
}
.main_body_container {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  min-width: 770px;
  max-width: 1299px;
}
.left_sidebar {
  flex: 1 1 auto;
  margin: 0 5px;
}
.main_layout {
  flex: 2 1 auto;
  margin: 0 auto;
  width: 532px;
}
.right_sidebar {
  flex: 1 1 auto;
  margin: 0 5px;
}
.event_image {
  width: 400px;
  border-radius: 10px;
  margin: 0 auto 5px auto;
}
.left_event_image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.left_event_container {
  background-color: rgb(65, 133, 167);
  margin: 10px auto 10px auto;
  border-radius: 5px;
  max-width: 200px;
}
.event_container {
  margin: 10px auto 0 auto;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  max-width: 550px;
}
.comment_container {
  margin: 0 auto 10px auto;
  background-color: rgb(219, 220, 225);
  border-radius: 5px;
  max-width: 550px;
}
.right_container {
  background-color: rgb(65, 133, 167);
  margin: 10px auto 10px auto;
  border-radius: 5px;
  max-width: 200px;
}
.event_title, .event_content, .event_time {
  font-family: 'Cagliostro', sans-serif;
}
#delete_button {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1px 5px;
  background-color: red;
}
#delete_button_container {
  text-align: center;
  display: block;
}
#delete_form_container {
  text-align: center;
  margin: 10px auto;
  display: none;
}
.delete_user {
  background-color: red;
  border-radius: 10px;
}
#cancel_container {
  margin: 5px auto;
}
#cancel_delete {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
}
.homepage_container {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  min-width: 770px;
}
.main_header {
  margin: 30px auto 0 auto;
}
.post_textarea {
  resize: none;
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.comment_form {
  display: inline-block;
  width: 100%;
}
.comment_field {
  width: 100%;
  height: 25px;
}
.each_comment {
  padding: 5px 0 5px 0;
  text-align: left;
}
.delete_comment_button {
  display: inline;
}
