* {
  box-sizing: border-box;
}
body {
  background-color: rgb(219, 236, 246);
  font-family: 'Kreon', serif;
}
.main_body_container {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  min-width: 770px;
  max-width: 1299px;
}
.left_sidebar {
  flex: 1 1 auto;
  margin: 0 5px;
}
.main_layout {
  flex: 2 1 auto;
  margin: 0 auto;
  width: 532px;
}
.right_sidebar {
  flex: 1 1 auto;
  margin: 0 5px;
}
.event_image {
  width: 400px;
  border-radius: 10px;
  margin: 0 auto 5px auto;
}
.left_event_image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.left_event_container {
  background-color: rgb(219, 236, 246);
  margin: 10px auto 10px auto;
  border-radius: 5px;
  max-width: 200px;
}
.event_container {
  margin: 10px auto 0 auto;
  background-color: rgb(209, 218, 226);
  border-radius: 5px;
  max-width: 550px;
}
.comment_container {
  margin: 0 auto 10px auto;
  background-color: rgb(179, 187, 196);
  border-radius: 5px;
  max-width: 550px;
}
.right_container {
  background-color: rgb(209, 218, 226);
  margin: 10px auto 10px auto;
  border-radius: 5px;
  max-width: 200px;
}
.event_title, .event_content, .event_time {
  font-family: 'Cagliostro', sans-serif;
}
#delete_button {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1px 5px;
  background-color: red;
}
#delete_button_container {
  text-align: center;
  display: block;
}
#delete_form_container {
  text-align: center;
  margin: 10px auto;
  display: none;
}
.delete_user {
  background-color: red;
  border-radius: 10px;
}
#cancel_container {
  margin: 5px auto;
}
#cancel_delete {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
}
.homepage_container {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  min-width: 770px;
}
.main_header {
  margin: 30px auto 0 auto;
  font-size: 1.8em;
}
.left_header {
  margin: 34px auto 0 auto;
  font-size: 1.2em;
}
.right_header {
  margin: 34px auto 18px auto;
  font-size: 1.2em;
}
.left_header:hover {
  text-decoration: underline;
}
.post_textarea {
  resize: none;
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.comment_form {
  display: inline-block;
  width: 100%;
}
.comment_field {
  width: 100%;
  height: 25px;
}
.each_comment {
  padding: 5px 0 5px 0;
  text-align: left;
}
.delete_comment_button {
  display: inline;
}
.left_title:hover {
  background-color: rgb(209, 218, 226);
}
.event_title a:hover {
  text-decoration: underline;
}
.results a:hover {
  background-color: rgb(179, 188, 196);
}
.event_form_title {
  text-align: center;
  margin: 10px auto 0 auto;
}
.event_form_title * {
  text-align: center;
  font-size: 1.5em;
  width: auto;
  font-family: 'Cagliostro', sans-serif;
}
#event_event_content {
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}
.edit_event, .new_event {
  text-align: center;
}
.form_event_image {
  width: 100px;
}
.search_bar {
  font-size: 1em;
}
.event_margins {
  margin: 5px auto 5px auto;
}
.event_member:hover {
  background-color: rgb(179, 188, 196);
}
.event_member_show a:hover {
  background-color: rgb(179, 188, 196);
}
.event_member_show_header {
  margin: 30px auto 0 auto;
  font-size: 1.8em;
}
.event_member_show_header a:hover {
  background-color: rgb(209, 218, 226);
}
.unfriend a{
  color: red;
}
.leave_event:hover {
  background-color: rgb(179, 188, 196);
}
.leave_event a{
  color: red;
}
#change_container {
  text-align: center;
  margin: 15px auto;
}
.text_comment {
  font-size: 0.75em;
  color: rgb(70, 70, 70)
}
